@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-family: 'Lato', sans-serif;
}

.hero {
    background-image: url( ./img/hero.svg) bottom cover, url(./img/rocket.jpg) center cover;
    height: 500px;
}

.content-text{
    color: #636363;
}

.header-text:after{
    background-color: #dddddd;
    background-image: -moz-linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
    background-image: -webkit-linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
    background-image: -ms-linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
    background-image: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
    display: block;
    content: '';
    width: 3.25em;
    height: 2px;
    margin: 0.7em 0 1em 0;
    border-radius: 2px;
}