@import url('./transitions/logo.transition.css');

#logo-cont {
  transform: translate(calc(-100vw / 2), calc(-100vh / 2))
}
.logo-home {
  margin-right: 0px;
  margin-bottom: 0px;
  transform: rotate(-55deg);
}
.logo-about-home {
  animation: logoAboutHomeTransition 1.5s;
  margin-right: 0px;
  margin-bottom: 0px;
  transform: rotate(-55deg);
}
.logo-about {
  animation: logoAboutTransition 1.5s;
  margin-right: 60px;
  margin-bottom: 60px;
  transform: rotate(0deg)
}

.logo-services-home {
  animation: logoServicesHomeTransition 1.5s;
  margin-right: 0px;
  margin-bottom: 0px;
  transform: rotate(-55deg);
}

.logo-services {
  animation: logoServicesTransition 1.5s;
  margin-left: -51px;
  margin-top: 60px;
  transform: rotate(0deg)
}

.logo-people-home {
  animation: logoPeopleHomeTransition 1.5s;
  margin-left: 0px;
  margin-bottom: 0px;
  transform: rotate(-55deg);
}

.logo-people {
  animation: logoPeopleTransition 1.5s;
  margin-left: 60px;
  margin-bottom: 60px;
  transform: rotate(0deg)
}

.logo-contact-home {
  animation: logoContactHomeTransition 1.5s;
  margin-right: 0px;
  margin-bottom: 0px;
  transform: rotate(-55deg);
}

.logo-contact {
  animation: logoContactTransition 1.5s;
  margin-left: 60px;
  margin-top: 60px;
  transform: rotate(0deg)
}