@keyframes contRotate {
  0% { transform: rotate(55deg) scale(4); }
  100% { transform: rotate(0deg) scale(1); }
}

@keyframes contRotateToHome {
  0% { transform: rotate(0deg) scale(1); }
  100% { transform: rotate(55deg) scale(4); }
}