@keyframes logoAboutTransition {
  0% { margin-right: 0px; margin-bottom: 0px; transform: rotate(-55deg) }
  100% { margin-right: 60px; margin-bottom: 60px; transform: rotate(-0deg) }
}

@keyframes logoAboutHomeTransition {
  0% { margin-right: 60px; margin-bottom: 60px; transform: rotate(-0deg) }
  100% { margin-right: 0px; margin-bottom: 0px; transform: rotate(-55deg) }
}

@keyframes logoServicesTransition {
  0% { margin-left: 0px; margin-top: 0px; transform: rotate(-55deg) }
  100% { margin-left: -60px; margin-top: 60px; transform: rotate(-0deg) }
}

@keyframes logoServicesHomeTransition {
  0% { margin-left: -60px; margin-top: 60px; transform: rotate(-0deg) }
  100% { margin-right: 0px; margin-bottom: 0px; transform: rotate(-55deg) }
}

@keyframes logoPeopleTransition {
  0% { margin-left: 0px; margin-bottom: 0px; transform: rotate(-55deg) }
  100% { margin-left: 60px; margin-bottom: 60px; transform: rotate(-0deg) }
}

@keyframes logoPeopleHomeTransition {
  0% { margin-left: 60px; margin-bottom: 60px; transform: rotate(-0deg) }
  100% { margin-left: 0px; margin-bottom: 0px; transform: rotate(-55deg) }
}

@keyframes logoContactTransition {
  0% { margin-left: 0px; margin-top: 0px; transform: rotate(-55deg) }
  100% { margin-left: 60px; margin-top: 60px; transform: rotate(-0deg) }
}

@keyframes logoContactHomeTransition {
  0% { margin-left: 60px; margin-top: 60px; transform: rotate(-0deg) }
  100% { margin-right: 0px; margin-bottom: 0px; transform: rotate(-55deg) }
}